@import 'core/settings';
@import 'core/variables';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/main';
@import 'layout/footer';

body {
	margin: 0;
	box-sizing: border-box;
}

.wrapper {
	margin: 0 15px;
	@media all and (min-width: 768px) {
		margin: 0 40px;	
	}
}