<footer class="footer">
    <div class="box__arrow">
        <div class="icon"><a href="">
            <img class="arrow" src="assets/images/ico-arrow.svg">
        </a></div>
    </div>
    <div class="footer__content">
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link" href="">Articles</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="">Books</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="">Events</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="">Reasons</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="">Tips</a>
                </li>
            </ul>
        </nav>

        <nav class="social">
            <ul class="social__list">
                <li class="social__item">
                    <a class="social__link" href="https://twitter.com/">Twitter</a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="https://www.instagram.com/?hl=es">Instagram</a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="https://mastodon.social/about">Mastodon.social</a>
                </li>              
            </ul>
        </nav>

        <div class="copyright">
            <h6 class="year">&copy; 2017</h6>
            <h6 class="components">we <span class="heart">❤</span> components</h6>
        </div>
    </div>
</footer>