<footer class="footer">
    <div class="icon"><a href="">
        <img class="arrow" src="assets/images/ico-arrow.svg">
    </a></div>
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link" href="">Articles</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="">Books</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="">Events</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="">Reasons</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="">Tips</a>
            </li>
        </ul>
    </nav>

    <nav class="social">
        <ul class="social__list">
            <li class="social__item">
                <a class="social__link" href="">Twitter</a>
            </li>
            <li class="social__item">
                <a class="social__link" href="">Instagram</a>
            </li>
            <li class="social__item">
                <a class="social__link" href="">Mastodon.social</a>
            </li>              
        </ul>
    </nav>

    <div class="copyright">
        <span class="year">&copy; 2017</span>
        <span class="components">we ❤ components</span>
    </div>
</footer>