<div class="content">
    <section id="cont" class="content__ppal">
        <div class="wrapper">
            <div class="ppal__form">
                <h5 class="ppal__link">Insomnia tips</h5>
                <h2 class="ppal__title">Looking through a window</h2>
                <p class="ppal__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
                <button class="btn__go">
                    <span class="go">Go</span>
                </button>
            </div>
        </div>
    </section>
    <section id="re" class="content__reasons">
        <div class="wrapper">
            <h3 class="reasonsp__title">3 reasons to purchase</h3>
            <div class="reason__grid">
                <div class="reason reason1">
                    <h3 class="reason__title">Ut sed metus</h3>
                    <p class="reason__text">Lorem ipsum dolor sit amet, consecteur.</p>
                </div>
                <div class="reason reason2">
                    <h3 class="reason__title">Curabitur ac erat</h3>
                    <p class="reason__text">Mauris mattis urna quis lorem molestie.</p>
                </div>
                <div class="reason reason3">
                    <h3 class="reason__title">Morbi dictum</h3>
                    <p class="reason__text">Aliquam in dolor et dolor tincidunt.</p>
                </div>
            </div>
            <div class="button__more">
                <button class="btn__more">
                    <span class="more">More reasons</span>
                </button>
            </div>
        </div>
    </section>
</div>

<section class="special">
    <h3 class="special__title">Special offer</h3>
    <div class="special__sect">
        <h4 class="special__sub">20% discount</h4>
        <p class="special__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius corrupti, repudiandae sapiente temporibus alias nobis dolorem, aperiam dicta aut nostrum autem consequuntur molestiae ipsam cupiditate atque quam expedita beatae quibusdam!</p>
    </div>
</section>