<div class="content">
    <section class="content__ppal">
        <h5 class="ppal__link">Insomnia tips</h5>
        <h2 class="ppal__title">Looking through a window</h2>
        <p class="ppal__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <button class="btn__go">
            <span class="go">Go</span>
        </button>
    </section>
    <section class="content__reasons">
        <h3 class="reasonsp__title">3 reasons to purchase</h3>
        <div class="reason__grid">
            <div clas="reason reason1">
                <h3 class="reason__title">Ut sed metus</h3>
                <p clas="reason__text">Lorem ipsum dolor sit amet, consecteur.</p>
            </div>
            <div clas="reason reason2">
                    <h3 class="reason__title">Curabitur ac erat</h3>
                    <p clas="reason__text">Mauris mattis urna quis lorem molestie.</p>
            </div>
            <div clas="reason reason3">
                    <h3 class="reason__title">Morbi dictum</h3>
                    <p clas="reason__text">Aliquam in dolor et dolor tincidunt.</p>
            </div>
        </div>
        <div class="button__more">
            <button class="btn__more">
                <span class="more">More reasons</span>
            </button>
        </div>
    </section>
</div>