<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Anonymus proxy</title>
  <link rel="icon" href="city.png"/>
  <link rel="stylesheet" href="assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>
  <div class="page">
<!-- HEADER -->
    <partial src="_header.html" label="Header"></partial>
<!-- HERO -->
    <partial src="_hero.html" label="Hero"></partial>
<!-- MAIN -->
  
    <partial src="_main.html" label="Main"></partial>
<!-- FOOTER -->
    <partial src="_footer.html" label="Main"></partial>
  </div>
  </div>
</body>
</html>
