.footer {
    background: $darkblue;
    padding-bottom: 45px;

}
//ARROW
.box__arrow {
    display: flex;
    justify-content: center;
    width: 100%;
}
.icon {
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-23px);
}

//LINKS

.menu__list {
    text-align: center;
    list-style: none;
    padding: 0;
}
.menu__link {
    text-transform: uppercase;
    color: white;
    font-family: $roboto;
    text-decoration: none;
    line-height: 1.88;
}

// SOCIAL

.social__list {
    text-align: center;
    list-style: none;
    padding: 0;
}
.social__link {
    text-transform: uppercase;
    color: white;
    font-family: $roboto;
    text-decoration: none;
    line-height: 1.88;
}

// COPYRIGHT
.copyright {
    text-align: center;
    font-family: $roboto;
    line-height: 2.14;
    color:white;
}

.year {
    font-size: 14px;
    margin: 0;
}
.components {
    margin: 0;
    font-size: 14px;
}
.heart {
    color: red;
}