.footer {
    background: $darkblue;
    padding-bottom: 45px;
}
.footer .wrapper {
    @media all and (min-width:1200px) {
        margin: 0 275px;
    }
}
//ARROW
.box__arrow {
    display: flex;
    justify-content: center;
    width: 100%;
}
.icon {
    width: 45px;
    height: 45px;
    background: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-23px);
}

//LINKS

.menu__list {
    text-align: center;
    list-style: none;
    padding: 0;
}
.menu__link {
    text-transform: uppercase;
    color: $white;
    font-family: $roboto;
    text-decoration: none;
    line-height: 1.88;
    &:hover {
        color:$orange;
    }
}


// SOCIAL

.social__list {
    text-align: center;
    list-style: none;
    padding: 0;
}
.social__link {
    text-transform: uppercase;
    color: $white;
    font-family: $roboto;
    text-decoration: none;
    line-height: 1.88;
    &:hover {
        color: $orange;
    }
}

// COPYRIGHT
.copyright {
    text-align: center;
    font-family: $roboto;
    line-height: 2.14;
    color:$white;
}

.year {
    font-size: 14px;
    margin: 0;
}
.components {
    margin: 0;
    font-size: 14px;
}
.heart {
    color:$orange;
}

@media all and (min-width:768px) {
    .footer__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .copyright {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
    }
    .menu__list {
        text-align: left;
    }
    .social__list {
        text-align: left;
    }
}