.footer {
    background: $darkblue;
    padding-bottom: 45px;
    box-sizing: border-box;
}
.footer .wrapper {
    @media all and (min-width:1200px) {
        margin: 0 275px;
    }
}

//ARROW
@keyframes latidos {
    from { transform: none; }
    50% {transform: scale(1.3);}
    to { transform: none; }
}
.box__arrow {
    display: flex;
    justify-content: center;
    width: 100%;
    animation: latidos 2s infinite;
}
.icon {
    width: 45px;
    height: 45px;
    background: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-23px);
}


//LINKS
.menu__list {
    text-align: center;
    list-style: none;
    padding: 0;
}
.menu__link {
    text-transform: uppercase;
    color: $white;
    font-family: $roboto;
    text-decoration: none;
    line-height: 1.88;
    &:hover {
        color:$orange;
    }
}

// SOCIAL
.social__list {
    text-align: center;
    list-style: none;
    padding: 0;
}
.social__link {
    text-transform: uppercase;
    color: $white;
    font-family: $roboto;
    text-decoration: none;
    line-height: 1.88;
    &:hover {
        color: $orange;
    }
}

// COPYRIGHT
.copyright {
    text-align: center;
    font-family: $roboto;
    line-height: 2.14;
    color:$white;
}
.year {
    font-size: 14px;
    margin: 0;
}
.components {
    margin: 0;
    font-size: 14px;
}
@keyframes colorchange {
    0% { color: $orange; }
    10% {color: #ff00ff;}
    20% {color: $orange;}
    30% {color: #afeeee; }
    40% {color: $orange; }
    50% {color: #9acd32;}
    60% {color: $orange;}
    70% {color: #f1c40f;}
    80% {color: $orange;}
    90% {color: #9b59b6;}
    100% { color: $orange;}
}
.heart {
    color:$orange;
    animation: colorchange 10s infinite;
}

@media all and (min-width:768px) {
    .footer__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .copyright {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
    }
    .menu__list {
        text-align: left;
    }
    .social__list {
        text-align: left;
    }
}