.hamburguer {
    position: fixed;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background-color: #0271bc;
    &:hover{
        cursor: pointer;
    }
}
.btn { 
    width: 14px;
    height: 16px;
    padding: 14px;
}

