
.hero__content {
    width: 100vw;
    min-height: 100vh;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero__image {
    min-height: 100vh;
    width: auto; //arreglar esto
}
// .hero__description {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     text-align: center;
//     position: relative;
//     top: -70vh;
//     color: white;
// }
// .hero__title {
//     font-size: 30px;
// }
