// WINDOW

.ppal__link {
    font-family: $roboto;
    font-size: 14px;
    line-height: 2.14;
    color: $celeste;
    margin: 30px 0 0 0;
    text-transform: caspitalize;
}

.ppal__title {
    margin: 0;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    font-family: $robotoslab;
    line-height: 1.25;
}
.ppal__text {
    font-family: $roboto;
    font-size: 18px;
    line-height: 1.67;
    color: $gray;
}

.btn__go {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: 2px solid $orange;
    background: white;
    &:hover{
        cursor: pointer;
    }
}

.go {
    width: 25px;
    height: 45px;
    font-family: $roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.25;
    color: $orange;
}

// REASONS
.content__reasons{
    background: $backblue;
}
.reasonsp__title {
    height: 30px;
    font-family: $robotoslab;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: black;
    text-align: center;
    padding: 30px;
    margin-bottom: 15px;
}
.reason__grid {
    display: grid;
    grid-template-rows: repeat(3*1fr);
    grid-gap: 45px;
    text-align: center;
    margin: 0 70px;
    @media all and (min-width:768px) {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 27px;
        text-align: center;
    }
}

.reason__title {
    height: 30px;
    font-family: $robotoslab;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    text-align: center;
    color: black;
    margin: 0;
}

.reason__text {
    font-family: $roboto;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    color: black;
}

// BUTTON  
.button__more {
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn__more {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $orange;
    margin-top: 45px;
    margin-bottom: 60px;
    border: none;
    box-shadow: none;
    &:hover{
        cursor: pointer;
    }
}

.more {
    color: white;
    width: 25px;
    height: 45px;
    font-family: $roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.25;
}