.ppal__link {
    width: 90px;
    height: 30px;
    font-family: $roboto;
    font-size: 14px;
    line-height: 2.14;
    color: $celeste ;
    margin: 30px 0 0 0;
}

.ppal__title {
    margin: 0;
}
.ppal__text {
    width: 290px;
    height: 120px;
    font-family: $roboto;
    font-size: 18px;
    line-height: 1.67;
    color: $gray;
}

.btn__go {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: 2px solid $orange;
    background: white;
    &:hover{
        cursor: pointer;
    }
}

.go {
    width: 25px;
    height: 45px;
    font-family: $roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.25;
    color: $orange;
  }